{% extends "layout.html.twig" %}
	{% block title %} Create New Creation {% endblock %}
	{% block container %}
		{{ form_start(form, {'action':path('creations.update', { 'id' : id }), 'method':'PUT'}) }}
		    {{ form_errors(form) }}
		    {{ form_widget(form) }}
		    <div class="text-right mt-4">
		    	<input class="btn btn-success" type="submit" value="Editar">
		    </div>
		{{ form_end(form) }}
	{% endblock %}