<!DOCTYPE html>
<html>
<head>
	<title>Home - RachelMarket</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, inicial-scale=1">
	<script type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="">

</head>
<body>
	<header>
		<h1>{{page}}</h1>
	</header>
</body>
</html>

